* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a:link,
a:visited {
  text-decoration: none;
  color: #333;
}
html,
body {
  background: #fff6b7;
}

#fullpage .section:nth-child(1) {
  width: 100%;
  height: 100%;
}
.section:nth-child(1) .section1_wrap {
  width: 95%;
  height: 95%;
  background-color: #ffffffb2;
  margin: auto;
  margin-top: 50%;
  transform: translateY(-50%);
}
.section1_wrap .diagram {
  width: 100%;
  height: 30%;
  position: relative;
  /* background-color: #fff; */
  /* border: 1px solid black; */
}
.section1_wrap .diagram img {
  width: 25%;
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
}
.section1_wrap .step{
    width: 100%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.section1_wrap .step img{
    width: 70%;
}
.step ul{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 100px;
}
.step ul li{
    width: 20%;
    height: 200px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;

}

.section:nth-child(2) {
  width: 100%;
  height: 100%;
  position: relative;
}

.section:nth-child(2) .section2_wrap {
  width: 95%;
  height: 95%;
  background-color: #ffffffb2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.section2_wrap .name {
  width: 100%;
  height: 10%;
}
.name .name_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name_wrap img {
  width: 20%;
  padding: 0;
  margin: 0;
}
.section2_wrap .contents {
  width: 100%;
  height: 90%;
  overflow: hidden;
}
.contents .contents_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contents_wrap img {
  width: 80%;
  object-fit: cover;
}

#fullpage .section:nth-child(3) {
  width: 100%;
  height: 100%;
  position: relative;
}
.section:nth-child(3) .section3_wrap ul {
  width: 90%;
  height: 90%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.section3_wrap ul .ud {
  width: 200px;
  height: 200px;
  background-color: #edaf32;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  box-shadow: 2px 4px 4px rgb(113, 113, 113);
}
.section3_wrap ul .ud:hover {
  border: 1px solid white;
  background-color: #edaf32bb;
  font-size: 25px;
}
.section3_wrap ul .bf {
  width: 200px;
  height: 200px;
  background-color: #658f02;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  box-shadow: 2px 4px 4px rgb(113, 113, 113);
}
.section3_wrap ul .bf:hover {
  border: 1px solid white;
  background-color: #658f02c0;
  font-size: 25px;
}
.section3_wrap ul .fac {
  width: 200px;
  height: 200px;
  background-color: #005a9c;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  box-shadow: 2px 4px 4px rgb(113, 113, 113);
}
.section3_wrap ul .fac:hover {
  border: 1px solid white;
  background-color: #005b9cc1;
  font-size: 25px;
}
.section3_wrap ul li a {
  width: 100%;
  height: 100%;
  line-height: 200px;
  color: white;
  text-shadow: 3px 5px 3px #333;
  font-size: 20px;
  font-weight: bold;
}
